@import "bourbon";
@import "libs";
@import "_mixins";
@import "typograph";

header{
	.top-head{
		height: 100px;
		line-height: 100px;
		.logo{
			img{
				display: inline-block;
				vertical-align: middle;
				width: 100px;
				margin-top: -10px;
			}
		}
		[class*="col-"]{
			&:before{
				display: inline-block;
			    height: 100%;
			    vertical-align: middle;
			    content: "";
			}
		}
		.tagline{
			font-weight: 800;
			width: 240px;
			margin: 0px 0 0 10px;
			color: $main-darker;
			font-size: 14px;
			display: inline-block;
			vertical-align: middle;
			line-height: 18px;
		}

		.email{
			font-size: 24px;
			line-height: 27px;
			font-weight: 800;
			vertical-align: middle;
			color: $email-color;
			&:after{
				content: "";
				display: block;
				width: 0px;
				height: 1px;
				background: $email-color;
				position: absolute;
				left: 0;
				bottom: 0;
				transition: all .4s ease-in-out;
				margin-top: 0px;
			}
			&:hover{
				&:after{
					width: 100%;
				}
			}
		}
		.phone{
			font-size: 24px;
			color: #000;
			margin: 0 15px 0 -40px;
			vertical-align: middle;
			&:after{
				content: "";
				display: block;
				width: 0px;
				height: 1px;
				background: #000;
				position: absolute;
				left: 0;
				bottom: 0;
				transition: all .4s ease-in-out;
				margin-top: 0px;
			}
			&:hover{
				&:after{
					width: 100%;
				}
			}
		}
		.btn{
			font-size: 16px;
			height: 36px;
			padding: 13px 30px;
			vertical-align: middle;
			line-height: 10px;
		}
	}
	.main-part{
		background: #ddd url("../img/header-bg.jpg") no-repeat center center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		// min-height: 780px;
		height: auto;
		h1,h3{
			color: $main-darker;
		}
		h1{
			margin-top: 60px;
			margin-bottom: 30px;
		}
		h3{
			font-weight: 600;
		}
		.menu-nav{
			margin-top: 75px;
			margin-bottom: 30px;
			li{
				a{
					display: inline-block;
					padding: 5px 20px 5px 15px;;
					background: rgba(255,255,255, .7);
					border-left: 5px solid $main-color;
					margin-bottom: 10px;
					font-size: 14px;
					font-weight: 800;
					color: $main-darker;
					transition: all .4s ease-in-out;
					span{
						border-bottom: 1px dashed $main-darker;
					}
					&:hover{
						color: $main-color;
						border-left: 5px solid $main-darker;
						span{
							border-bottom: 1px dashed  $main-color;
						}
					}
				}
			}
		}
		.phone-large{
			color: $main-darker;
			font-size: 58px;
			line-height: 62px;
			font-weight: 800;
			margin-bottom: 12px;
		}
		.works-time{
			font-weight: 600;
			font-size: 14px;
			color: $main-darker;
			margin-bottom: 60px;
		}
		.btn{
			display: inline-block;
			margin-right: 10px;
			height: 45px;
			width: 200px;
			text-align: center;
			margin-bottom: 100px;
			&.bordered{
				line-height: 12px;
				font-weight: 600;
				padding: 15px 20px;
			}
			&.with-icon{
				position: relative;
				text-align: left;
				padding: 0 0px 0 45px;
				&:hover{
					.icon-phone{
						left: 20px;
					}
					.icon-phone+span{
						&:before{
							height: 0;
						}
					}
				}
				.icon-phone{
					position: absolute;
					display: inline-block;
					left: 12px;
					top: 50%;
					margin-top: -15px;
					margin-right: 10px;
					transition: all .4s ease-in-out;
					&+span{
						display: inline-block;
						padding-left: 8px;
						line-height: 45px;
						height: 100%;
						position: relative;
						&:before{
							content: "";
							display: block;
							width: 1px;
							height: 100%;;
							background: #fff;
							position: absolute;
							left: 0;
							top: 0;
							transition: all .4s ease-in-out;
						}
					}
				}
			}

		}
		.notebook{
			// margin-top: 75px;
			margin-left: 50px;
			width: 622px;
			height: 434px;
			position: relative;
			background: url(../img/notebook-full.png) no-repeat;
			-webkit-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			padding-top: 1px;
    		margin-top: 75px;
			.video{
				width: 488px;
				height: 306px;
				margin-top: 27px;
				margin-left: 65px;
				background: #000;
				overflow: hidden;
				video{
					width: 110%;
					margin-left: -5%;
					height: 100%;
				}
			}
		}
	}
}

.equipment{
	padding: 80px  0 0 0;
	background: url(../img/how-it-works-bg.jpg) repeat-x center bottom;

	.equip-slider{
		width: 100%;
		position: relative;
		.slide{
			&:hover, &:focus, &:active{
				outline: none;
			}
		}
		// .fa{
		// 	position: absolute;
		// 	width: 50px;
		// 	display: inline-block;
		// 	height: 50px;
		// 	background: $main-color;
		// 	top: 42%;
		// 	margin-top: -85px;
		// 	font-size: 55px;
		// 	line-height: 48px;
		// 	color: #fff;
		// 	z-index: 999;
		// 	transition: all .3s ease-in-out;
		// 	@include custom{
		// 		margin-top: -45px;
		// 	}
		// 	&:hover{
		// 		background: $main-darker;
		// 	}
		// 	&:hover{
		// 		cursor: pointer;
		// 		// color: #fff;
		// 	}
		// 	&.fa-angle-right{
		// 		right: -10px;
		// 	}
		// 	&.fa-angle-left{
		// 		left: -10px;
		// 	}
		// }
		.main-cont{
			margin-bottom: 30px;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
		}
		.preview{
			margin-left: 3%;
			margin-right: 4%;
			width: 45%;
			float: left;
		}
		.equip-inf{
			width: 45%;
			float: left;
			text-align: left;

			h3{
				color: $main-darker;
				font-size: 30px;
				font-weight: 600;
				line-height: 34px;
				margin-bottom: 5px;
			}
			h4{
				font-size: 18px;
				color: #666;
				font-weight: 600;
			}
			p{
				line-height: 28px;
				font-size: 14px;
				padding: 0 40px 0 0;
			}
			ul{
				margin-top: 15px;
				li{
					margin-bottom: 15px;
					color: #999;
					.icon{
						width: 35px;
						margin-right: 10px;
						display: inline-block;
						margin-bottom: -6px;
					}
					.icon+span{

					}
				}
			}
			.deskr-block{
				padding: 25px 0;

				.btn{
					width: 200px;
					text-align: center;
					font-size: 18px;
					margin-top: 30px;
				}
			}
		}


		.equip-unit-slider{
			.slide{
				text-align: center;
				display: inline-block;
				border: 1px solid $border-color;
				img{
					display: inline-block;
				}
			}

			.slick-dots{
				width: 100%;
				margin-top: 15px;
				li{
					width: 30%;
					margin-right: 3%;
					margin-bottom: 10px;
					float: left;
					&.slick-active{
						a.picture{
							border: 1px solid $main-color;
						}
					}
					&:hover{
						a.picture{
							cursor: pointer;
							border: 1px solid #666;
						}
					}
					a.picture{
						width: 100%;
						display: inline-block;
						border: 1px solid $border-color;
						transition: all .4s ease-in-out;

						&:before{
							display: inline-block;
						    height: 100%;
						    vertical-align: middle;
						    content: "";
						}
						img{
							display: inline-block;
							max-width: 100%;
							vertical-align: middle;
						}
					}
					.inf{
						display: inline-block;
						margin-top: 10px;
						font-size: 16px;
						line-height: 20px;
						text-transform: uppercase;
						color: $main-darker;
						border-bottom: 1px dashed  $main-darker;
						&:hover{
							cursor: pointer;
						}

					}
				}
			}
		}
	}
}


.how-it-works{

     padding: 60px 0 50px 0;
     h2{
     	line-height: 46px;
     }
	.video-wrap{
		width: 80%;
		z-index: 1;
		background: transparent;
		padding: 10px;
		margin: 50px auto 0 auto;
		text-align: center;
		iframe{
			display: inline-block;
		}
	}
}

.get-catalog{
	background: #fff url(../img/get-catalog-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	    padding: 90px 0;
	    width: 100%;
	    position: relative;

	.col-catalog{
		position: static;
	}
	.wrap-catalog{
		position: absolute;
		top: 50%;
		margin-top: -100px;
		left: 50%;
		margin-left: -550px;
	}
}

.example-works{
	padding: 70px 0;
	h2{
		font-size: 42px;
		&:after{
			right: -10px;
		}
	}
	.list-clients{
		text-align: left;
		margin-top: 40px;
		padding-right: 100px;
		color: #666;
		li{
			margin-bottom: 15px;
			padding: 0 0 0 35px;
			background: url(../img/icons/icon-check.png) no-repeat left 2px;;
		}
	}

	.works-slider{
		.fa{
			top: auto;
			bottom: -15px;
			&.fa-angle-right{
		        right: auto;
		        left: 110px;
		        letter-spacing: -8px;
		      }
		      &.fa-angle-left{
		        left: 50px;
		      }
		}

	}
}


.reviews{
	padding: 80px 0;
	background: #f6f6f6;
    blockquote{
    	margin: 75px auto 120px auto;
    	font-size: 20px;
    	width: 550px;
    	line-height: 24px;
    	font-weight: 700;
    	text-align: left;
    	padding-left: 30px;
    	position: relative;
    	z-index: 1;
    	.fa{
    		z-index: -1;
    		position: absolute;
    		font-size: 80px;
    		left: -10px;
    		top: -40px;
    		color: #d6d6d6;
    	}
    }
	.video-wrap{
		background: transparent;
		width: 93%;
		z-index: 1;
		height: 300px;

		iframe{
			max-height: 100%;
			max-width: 100%;
		}
	}
	ul{
		text-align: left;
		padding-left: 10px;
		li{
			strong{
				display: inline-block;
				width: 20%;
				margin-right: 20px;
			}
		}
	}
}

.services{
	padding: 60px 0;
	h2.underline{
		&:after{
			right: -30px;
		}
	}
	h2+p{
		margin: 70px 0;
		font-weight: 700;
	}
	.services-items{
		width: 100%;
		.service-item{
			width: 25%;
			text-align: center;
			float: left;
			margin-bottom: 10px;
			h5{
				font-size: 16px;
				font-weight: 600;
				width: 150px;
				margin: 0 auto;
				line-height: 20px;
				color: $main-color;
			}
			.square-wrap{
				transform: rotate(45deg);
				margin-bottom: 30px;
			}
			.square{
				display: inline-block;
				width: 100px;
				vertical-align: middle;
				height: 100px;
				text-align: center;
				line-height: 100px;
				background: transparent;
				border: 13px solid #cbcbcb;
				position: relative;

  				&:after{
  					content: "";
  					display: block;
  					width: 90px;
  					height: 90px;
  					background: transparent;
  					border: 13px solid #f5f5f5;
  					border-left: none;
  					border-bottom: none;
  					position: absolute;
  					right: -20px;
  					z-index: -1;
  					top: -20px;
  				}
  				span{
  					transform: rotate(-45deg) scale(1);
  					&.icon-obstetrics{
  						transform: rotate(-45deg) scale(1) translateX(-5px);
  					}
  					&.icon-anesthesia{
  						transform: rotate(-45deg) scale(1) translateX(-2px) translateY(3px);
  					}
  					&.icon-xray{
  						transform: rotate(-45deg) scale(1) translateX(-2px);
  					}
  				}
			}
		}
	}
	.btn{
		width: 30%;
    	margin-top: 60px;
	}
}

.call-me{
	padding: 80px 0;
	background: #000 url(../img/call-me-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	color: #fff;
	h2{
      color: #fff;
      margin: 50px 0;
      &:after{
      	right: -20px;
      }
	}
	.with-bg{
		width: 107%;
		font-weight: 700;
		padding: 50px 10px 50px 150px;
		text-align: left;
		font-size: 18px;
		position: relative;
		&:after{
			content: "";
			display: block;
			width:  69px;
			height: 68px;
			position: absolute;
			left: 35px;
			top: 55px;
			background: url(../img/icons/icon-coffee.png) no-repeat center center;
		}
	}
	form{
		text-align: center;
		width: 90%;
		display: inline-block;
		padding: 80px 30px;
		p{
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 25px;
			&.phone{
				font-size: 30px;
			}
			.upper{
				display: inline-block;
				text-transform: uppercase;
				margin-bottom: 60px;
			}
		}
		button{
			margin: 10px auto;
		}

	}
}

.steps{
	padding: 80px 0 60px 0;

	h2{
		margin-bottom: 50px;
	}
	.steps-wrap{
		position: relative;
		&:after{
			content: "";
			display: block;
			clear: both;
		}

		.step{
			width: 250px;
			height: 160px;
			border: 8px solid $border-color;
			margin-bottom: 20px;
			position: relative;
			text-align: left;
			.step-number{
				font-size: 120px;
				line-height: 140px;
				font-family: "Impact";
				display: inline-block;
				margin-left: 10px;
				// font-weight: 700;
				color: $main-color;
				position: relative;
				&:after{
					content: "";
					width: 20px;
					height: 20px;
					display: block;
					background: $main-color;
					position: absolute;
					right: -30px;
					bottom: 20px;
				}
			}
			.step-inf{
				position: absolute;
				padding: 25px 0;
				background: #fff;
				text-align: left;
				display: inline-block;
				right: -210px;
				top: 13px;
			}
		}
	}
	.right-bg{
		position: absolute;
		top: 0;

		right: 0;
		width: 48%;
		background: #FFF url(../img/steps-bg.jpg) no-repeat left center;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		// margin-left: 52%;
		height: 100%;;
	}
}

.statistic{
	padding: 80px 0;
	background: url(../img/eltem-today-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	.va{
		&:before{
			display: inline-block;
		    height: 100%;
		    vertical-align: middle;
		    content: "";
		}
	}
	.wrap{
		display: inline-block;
		vertical-align: middle;
		p{
			font-weight: 700;
		}
		.number{
			line-height: 110px;
			font-family: "Impact";
			font-size: 120px;
		}
	}
	.statistic-wrap{
		margin-top: 60px;
	}
	.left-block, .right-block{
		float: left;
	}
	.left-block{
		width:22%;
		margin-right: 3%;
		.peoples{
			height: 400px;
			width: 100%;
			border: 15px solid $main-color;
			background: #fff;
			color: $main-color;
		}
	}
	.right-block{
		width: 75%;
	}
	.right-block{
		.top-row{
			margin-bottom: 20px;
			height: 190px;
			.years, .brands{
				float: left;
			}
			.years{
				width: 30%;
				margin-right: 3%;
				height: 100%;
				color: #fff;
				background: $main-color;
			}
			.brands{
				text-align: left;
				color: $main-color;
				background: #fff;
				height: 100%;
				width: 67%;
				padding: 30px 20px;
				.wrap{
					text-align: center;
					float: left;
					width: 30%;
					margin-right: 10%;
				}
				.slider{
					width: 60%;
					height: 100%;
					// line-height: 100px;
					float: left;
					.slide{
						height: 140px;
						text-align: center;
						&:before{
							display: inline-block;
						    height: 100%;
						    vertical-align: middle;
						    content: "";
						}
						img{
							display: inline-block;
							vertical-align: middle;
						}
					}
					.fa{
						background: transparent;
						color: $main-color;
						top: 100%;
					}
				}
			}
		}
		.bottom-row{
			height: 190px;
			.users, .firms{
				float: left;
				height: 100%;
			}
			.users{
				background: #fff;
				padding: 10px;
				color: $main-color;
				width: 67%;
				margin-right: 3%;
				.border-wrap{
					width: 100%;
					height: 100%;
					border: 1px solid $main-color;
					text-align: center;
					padding: 0 15px;
					&.va{
						&:before{
							height: auto;
						}
					}
					.wrap{
						&:after{
							content: "";
							display: block;
							width: 0;
							clear: both;
						}
					}
					p{
						text-align: left;
						display: inline-block;
						width: 32%;
						line-height: 26px;
						vertical-align: top;
					}
					.number{
						width:66%;
						margin-top: -5px;
						margin-right: -20px;
						display: inline-block;
					}
				}
			}
			.firms{
				background: $main-color;
				color: #fff;
				width: 30%;
				padding: 10px;
				.border-wrap{
					width: 100%;
					height: 100%;
					border: 1px solid #fff;
					position: relative;
					&:before, &:after{
						content: "";
						display: block;
						position: absolute;
						left: 50%;
						width: 50%;
						height: 10px;
						margin-left: -25%;
						background: $main-color;
					}
					&:before{
						top: -5px;
					}
					&:after{
						bottom: -5px;
					}
				}
			}
		}
	}

}



@import "animation";


